<!DOCTYPE html>
<html>

<head>
  <style>
    div.position {
      position: fixed;
      bottom: 0px;
      top: 800px;
      right: 1050px;
      padding-left: 400px;
    }

    .gradient-custom {
      /* fallback for old browsers */
      background: #6a11cb;


      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .hero-header {
      background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .hero-header img {
      animation: imgRotate 50s linear infinite;
    }

    @keyframes imgRotate {
      100% {
        transform: rotate(360deg);
      }

    }
  </style>

  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Darshan Restaurant {% block title %}{% endblock title %}</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- font awesome style -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- slidck slider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css.map"
    integrity="undefined" crossorigin="anonymous" />


  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />



</head>

<body class="fa-hand-o-down gradient-custom">
  
  <section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <center>
                <h5 class="mb-0" style="font-size: 30px;"><b>Add Your Shipping Address</b></h5>
              </center>
            </div>
            <div>
              <div class="col-md-12" style="margin-top: 20px;">
                <div class="card mb-4">
                  <div class="card-header py-3">
                    <h5 class="mb-0">Summary</h5>
                  </div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        Total {{count}} Products
                        <span>Total ->₹ {{sum}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Shipping
                        <span>In Half Hour</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <div>
                          <strong>Total amount</strong>
                          <strong>
                            <p class="mb-0">(including GST)</p>
                          </strong>
                        </div>
                        <span><strong>{{GST}}</strong></span>
                      </li>
                    </ul>
                    <form action="/aftersave" enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Name</label>
                          <input type="text" class="form-control" name="name" id="inputPassword4"
                            placeholder="Enter Name">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" name="address1"
                          placeholder="Enter building-Street Name,Number , Road-Name">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" name="address2"
                          placeholder="Landmark , Location">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">City</label>
                          <input type="text" name="city" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">State</label>
                          <input type="text" name="state" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="inputZip">Pincode</label>
                          <input type="text" name="pincode" class="form-control" id="inputZip">
                        </div>
                      </div>

                      <input hidden type="text" name="payprice" value="{{GST}}">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Save Address</button>


                    </form>

                  </div>
                </div>
              </div>
            </div>



            <div class="card mb-4 mb-lg-0">
              <div class="card-body">
                <p><strong>We accept</strong></p>
                <img class="me-2" width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                  alt="Visa" />
                <img class="me-2" width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                  alt="American Express" />
                <img class="me-2" width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                  alt="Mastercard" />

                <div class="col-md-4">

                  <a href="/home"><button type="button" class="btn btn-primary btn-lg btn-block"
                      style="margin-top: 20px; margin-left: 229%;">
                      Home
                    </button>
                  </a>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
  </section>
</body>